<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>question_list.html</title>
		<style>
			table th,
			table td {
				border: 1px solid black;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<h1>질문 게시판</h1>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성 일자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="question : ${questionList}">
					<td>[[${question.id}]]</td>
					<td>
						<a th:href="@{|/question/detail/${question.id}|}">
							[[${question.subject}]]
						</a>
					</td>
					<td th:text="${question.formattedCreateDate}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/}">메인 페이지로 돌아가기</a>
	</body>
</html>